extend templates/layout

block title
	title Index page

block content
	p: a.g-link(href='/blocks/popup/') Popup example
	p: a.g-link(href='/blocks/menu/') Menu example
	p: a.g-link(href='/blocks/selectbox/') Selectbox example
	