ul.menu.menu_type_table
	li.menu__item: a.menu__link(href='#') Item 1
	li.menu__item: a.menu__link(href='#') Item 2
	li.menu__item: a.menu__link(href='#') Item 3
	li.menu__item: a.menu__link(href='#') Item 4
	li.menu__item: a.menu__link(href='#') Item 5